@inject IJSRuntime JS
<link rel="stylesheet" href="css/Default.css"/>

<div class="text_container">
    
    <div class="c-opt">
        <h2>
            @Config.Title
        </h2>

        <button class="action-button">
            <img src="svg/copy.svg" alt="copy"/>
        </button>
    </div>

    <div class="text-container">
        <textarea class="content"
        readonly="@(Config.IsReadOnly)"
        @ref="editor">
            
        </textarea>
    </div>
</div>

@code {

}

<style>
    
    .text_container{
        width: 500px;
        height: 550px;
        display: block;
    }
    
    .text-container{
        width: 100%;
        height: 100%;
        background-color: var(--tertiaryBgColor);
        padding: 4px;
        border-radius: 4px;
        border-style: solid;
        border-color: var(--mainBorderColor);
        border-width: 1px;
        margin-top: 5px;
        overflow-y: scroll;
        overflow-x: clip;
    }
    
    .content {
        width: 100%;
        height: 100%;
        color: var(--mainFontColor);
        resize: none;
        background-color: transparent;
        outline: none;
        border: none;
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        cursor: text;
    }
    
    .c-opt {
        width: 100%;
        height: 40px;
        padding: 0 7px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .action-button {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .action-button:hover {
        scale: 0.9;
    }
   
</style>