@page "/"
@using Parser
@using Web.Components.FormatOptions
@using Web.Components.InputContainer
@using Web.Components.TextContainer
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<div id="container">
    
    <section id="text-area">
        @* User Input Container *@
        <TextContainer Config="@(new TextContainerConfig( false,"C#"))" @ref="inputContainer" />
        @* Parsed  output *@
        <TextContainer Config="@(new TextContainerConfig( true,"TS"))" @ref="outputContainer"/>
    </section>
    
    <section id="options">
        <FormatOptions/>
    </section>
    
</div>


<style>
    #container {
        width: 100%;
        height: 100vh;
        overflow-x: clip;
        display: flex;
        flex-direction: row;
    }
    
    #text-area {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
        justify-content: center;
        align-items: start;
    }
    
    #options {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
</style>

@code {

    string _output = "";
    DotNetObjectReference<Home>? _dotnetRef;
    
    TextContainer inputContainer;
    TextContainer outputContainer;
    
    readonly ParseService _parseServiceService = new();
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotnetRef = DotNetObjectReference.Create(this);
            await inputContainer.InitJSInterop(_dotnetRef);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public async void OnInputTextChangedJS(string input)
    {
        try
        {
            _output = _parseServiceService.ParseText(input,new Config
            {
                autoFormat = false,
                parser = "Typescript"
            });

            Console.WriteLine("output: " + _output);
            await outputContainer.ChangeTextArea(_output);
        }
        catch (Exception e)
        {
            _output = "";
        }
        finally
        {
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        _dotnetRef?.Dispose();
    }
}

