@import "tailwindcss";

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono[wght].ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

code, pre, textarea {
    font-family: "JetBrainsMono", monospace;
}

.main-font {
    font-family: "JetBrainsMono", monospace !important;
}