:root {
    --mainBgColor: #222222;
    --secondaryBgColor: #000;
    --mainBorderColor: #E5E7EB;
    --mainFontColor: #FFFF;
    --mainFontColor2: #CED4DA;
    --mainFontSize: 16px;
    --mainFont: 'Inter';
    --secondaryFont: 'Poppins';
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--mainFont), Arial, serif;
}

body {
    background-color: var(--mainBgColor);
}

h1,h2,h3,h4{
    font-family: 'Inter', sans-serif;
    color: var(--mainFontColor);
    font-size: var(--mainFontSize);
    outline: none;
}