*{
    color: #FFF;
    background-color: transparent;
    font-size: 16px;
}

.inputFieldContainer {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    height: 70px;
    gap: 7px;
    flex: 0;
}

.dropdownTitle {
    margin: 0;
    color: var(--mainFontColor);
    font-weight: normal;
}

.inputField {
    margin: 0;
    color: var(--mainFontColor);
    width: 38px;
    height: 32px;
    font-weight: normal;
    border-radius: 4px;
    border: 1px solid #FFF;
    display: flex;
    text-align: center;
    
}
