@inherits LayoutComponentBase
<link rel="stylesheet" href="css/Default.css"/>


<header>
    <h1>
        CSharp2Typescript
    </h1>
</header>

<main>
    @Body
</main>


<style>
    header{
        background-color: var(--secondaryBgColor);
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 8px;
    }
    
    main {
        padding: 2px;
        height: 80vh;
    }
    
</style>