@inherits LayoutComponentBase
<link rel="stylesheet" href="css/Default.css"/>
<link rel="stylesheet" href="dist.css"/>

<header class="md:h-10 bg-[#222222]">
</header>

<main class=" overflow-hidden">
    @Body
</main>

