<link href="css/inputField.css" rel="stylesheet" />

<div class="inputFieldContainer">
    
    <h1 class="inputFieldTitle">@Title</h1>

    <input class="inputField" @oninput="OnInputChanged" TYPE="text" maxlength="1"/>

</div>


@code {

    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnValueChange { get; set; }
    
    private async Task OnInputChanged(ChangeEventArgs e) =>
        await OnValueChange.InvokeAsync(e.Value?.ToString() ?? string.Empty);
    
}